<!-- START BLOCK : _admin -->
<div id="wrapper">

		 <fieldset id="userCadDados">
		 <legend><h4>Dados do Usuário</h4></legend>
			<div class="row">

				<div class="span3">
					<label for="userCadNome"><h5>Nome completo</h5></label>
					<input type="text" name="userCadNome" id="userCadNome" required />
				</div>
				
				<div class="span3">
					<label for="userCadEmpresa"><h5>Empresa</h5></label>
					<select name="userCadEmpresa" id="userCadEmpresa" required>
						<option></option>
						<option value="1">Henrique Stefani</option>
						<option value="2">Querodiesel</option>
					</select>
				</div>

			</div>

			<div class="row">
				
				<div class="span3">
					<label for="userCadLogin"><h5>Login</h5></label>
					<input type="text" name="userCadLogin" id="userCadLogin" required />
				</div>
				
				<div class="span3">
					<label for="userCadSenha"><h5>Senha</h5></label>
					<input type="text" name="userCadSenha" id="userCadSenha" required />
				</div>
				
				<div class="span3">
					<label for="userCadNvlAcesso"><h5>Nível de Acesso</h5></label>
					<select name="userCadNvlAcesso" id="userCadNvlAcesso" required>
						<option value="1">Usuário</option>
						<option value="2">Administrador</option>
					</select>
				</div>
				
			</div>
			
		</fieldset>

		<button type="submit" class="btn btn-default" id="salvarUsuario">Cadastrar</button>
		
		<div class="row">
			<div class="span12">
				<div id="validateBox">
					<span id="validateMsg"></span>
				</div>
			</div>
		</div>


</div>

<!-- END BLOCK : _admin -->

<!-- START BLOCK : user -->

	Você não tem permissão para visualizar esta página. Consulte o administrador.
	<br /><br />
	<a href="../controller/mapa.php">Clique aqui para voltar à página inicial.</a>

<!-- END BLOCK : user -->