<div id="wrapper">  



  <div id="container_login">
      
      <form name="formLogin" class="form-signin" role="form" action="../controller/login_execute.php" method="post">
          
          <img src="../assets/images/logo.gif">
          
          <h4>Conecte-se</h4>
          
          <input type="text" placeholder="Usuario" name="user" class="form-control" required autofocus>        
          <input type="password" placeholder="Senha" name="pass" class="form-control"required>
          
            <label class="checkbox">
              <input type="checkbox" name="lembrar" value="1"> Lembre-se de mim
            </label>
            
            <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button><!-- onClick="return validarLogin()"-->
      
      </form>

  </div>

</div>